// Header css

.header {
  @include flex(space-between);
  background: #3c4163;
  color: white;
  width: 100vw;
  height: 70px;
  text-decoration: none;
}

.header a {
  font-size: 1.5em;
  margin-right: 20px;
  color: #70aeff;
  text-decoration: none;
}

.headerimg img {
  max-height: 60px;
  height: auto;
  max-width: 75px;
  width: auto;
  margin-left: 10px;
  margin-top: 7px;
}
//Search css

.searchContainer img {
  height: 25px;
  width: 25px;
}

// Home css
.home_profile_container {
    width: 100%;
    height: 230px;
    background: #fffafa;
    border-bottom: 3px solid #3c4163;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

.home_profile_image {
    padding-top: 15px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 2;
  }

.home_profile_name {
    font-size: 40px;
    margin-left: 20px;
    color: #3c4163;
    grid-column: 5;
    grid-row: 4;
}

.see_profile_button {
    outline: none;
    border: none;
    color: #70aeff;
    // color: #fffafa;
    border-radius: 5px;
    background: #3c4163;
    height: 30px;
    width: 60px;
    font-size: 15px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 250px;
    transition: .5s ease-in-out;
}

.see_profile_button:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.homecontainer {
  background: #fffafa;
  width: 414px;
  @include flex;
  height: calc(100vh - 400px);
  flex-direction: column;
}
.homecontainer button {
  outline: none;
  border: none;
  color: #3c4163;
  border-radius: 5px;
  background: #70aeff;
  margin-bottom: 30px;
  height: 50px;
  width: 75%;
  font-size: 1.5em;
  transition: 1s ease-in-out;
}

.homecontainer button:active {
    transform: scale(1.5);


    .homecontainerButton {
    outline: none;
    border: none;
    color: #3c4163;
    border-radius: 5px;
    background: #70aeff;
    margin-bottom: 30px;
    height: 50px;
    width: 75%;
    font-size: 1.5em;
    }
}
// Nav css

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #3c4163;
}
.homebtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%;
}

.settingsbtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%;
}

// Login css
.loginContainer {
  @include flex;
  width: 100%;
  height: 100vh;
  background: lightblue;
}

.loginBox {
  @include flex;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  background: gray;
}

// Profile

.profile_container {
  @include flex(center, center);
  height: calc(100vh - 170px);
  flex-direction: column;
  background-color: #fffafa;
}

.profile_container div {
  margin: auto;
}

.profile_image {
  padding-top: 15px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile_text_container {
  height: calc(100vh - 170px);
  margin: auto;
  width: 50%;
}

.profile_text_container div {
  margin: auto;
  display: flex;
}

.profileName {
  display: flex;
  width: 100%;
}


.profile_input {
  @include flex;
  outline: none;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.25em;
  border-radius: 5px;
  background: #bfbbbb17;
}
.profile_display div {
}

.profile_display {
  margin: auto;
  height: calc(100vh - 170px);
  font-size: 1.5em;
  h3 {
    margin: auto;
    margin-top: 15px;
  }
}

.profile_edit {
  border: none;
  width: 75px;
  height: 30px;
  background: rgb(141, 170, 212);
}

.profile_disabled {
  display: none;
}

.profile_save {
    border: none;
    width: 75px;
    height: 30px;
    background: rgb(141, 170, 212);
}

.friendsAvatar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friendsAvatar img {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.friendsName {
  font-size: 1.25em;
}

.friendMessagebtn {
    width: 100px;
    height: 40px;
    background: #70aeff;
    margin-left: 15px;
}

// Chat css

.chatContainer {
    @include flex(flex-end, flex-end);
    flex-direction: column;
    background: #fffafa;
    height: calc(100vh - 170px);
    width: 100%;
}

.inputBtn {
    width: 100%;
    @include flex;
    background: #70aeff;
    
}

.chatInput {
    width: 80%;
    height: 20px;
    border: solid #70aeff;
    outline: none;
}

.chatBtn {
    width: 20%;
    background: #70aeff;
    height: 27px;    
    border: none;
    outline: none;    
}