.App {
  // overflow: hidden;
  background: #fffafa;
  // background: fill;
  height: fill;
  // height: 70vh;
}

// 
//---------------------------------- Header css ----------------------------------//

.header {
  @include flex(space-between);
  background: #3c4163;
  color: white;
  width: 100vw;
  height: 70px;
  z-index: 10;
  text-decoration: none;
  position: fixed;
  top: 0;
  
}

.header a {
  font-size: 1em;
  margin-right: 20px;
  font-weight: 100;
  color: #70aeff;
  text-decoration: none;
}

.headerimg img {
  max-height: 60px;
  height: auto;
  max-width: 75px;
  width: auto;
  margin-left: 10px;
  margin-top: 7px;
}

.slope_title {
  font-family: $title_font;
  font-size: 1.5em;
  color: #70aeff;
}

//---------------------------------- Search css ----------------------------------//
.searchContainer {
  height: 100%;
  overflow: scroll;
  .searchBTN {
    display: flex;
    // margin: auto;
    font-size: 0.75em;
    height: 34px;
    width: 50px !important;
  }
  .searchIcon {
    width: 25px !important;
    height: 25px !important;
  }
  .usersList {
    // margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    // display: flex;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    font-size: 1.25em;
    height: 40px !important;
  }
}

.usersList button {
  margin: auto;
  font-size: 1.5em !important;
  background: transparent !important;
  border-radius: 50% !important;
  cursor: pointer;  
  // border: .5px solid black !important;
}
// .searchIcon {
//   margin-right: 50px;
//   margin-left: 0;
//   height: 35px !important;
//   width: 35px;
// }
.searchContainer div {
  height: 25px;
  margin: auto;
  display: flex !important;
}
.timerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}
// .searchContainer img {
//   width: 6px !important;
// }

// .searchInput input {
//   width: 35%;
//   border: 0.5px solid black;
//   border-radius: 5px;
//   height: 35px;
// }

.searchContainer div input {
  // display: flex;
  // justify-content: center !important;
  // align-items: center !important;
  // margin-bottom: 15px !important;
  // margin-left: 5px;
  // margin-right: 7px;
  // margin: auto;
  margin-left: 22%;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 25px;
  outline: none;
  width: 50%;
}
.usersList div {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

// .usersList div button {
//   // margin-left: 10px !important;
//   // height: 100% !important;
//   width: 1em;
//   margin: auto;
// }
// .usersList img {
//   margin-right: 15px;
//   height: 50px;
//   width: 50px;
// }

//styles users img
.searchIMG {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

//---------------------------------- Home css ----------------------------------//
.home_profile_container {
  overflow: hidden;
  width: 100%;;
  height: 18vh;
  background: #fffafa;
  border-bottom: 1.25px solid #3c4163;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}

.home_profile_image {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 11px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1;
  
}

.home_profile_name {
  width: 100vw;
  font-size: 1.5em;
  margin-left:35px;
  color: #3c4163;
  grid-column: 3;
  grid-row: 3/2;
}

.home_profile_mountain {
  font-size: 1.25em;
  margin-left: 38px;
  grid-column: 9/4;
  grid-row: 8/4;
  margin-top: 10px;
  color: $dark_blue;
}

.ski-icon {
  margin: auto;
  grid-column: 4;
  grid-row: 8/3;
  height: 25px;
  width: 25px;
}
.see_profile_button {
  outline: none;
  border: none;
  color: #70aeff;
  letter-spacing: 1.75px;
  border-radius: 5px;
  background: #3c4163;
  height: 30px;
  width: 60px;
  font-size: .5em;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 155px;
  transition: 0.5s ease-in-out;
  cursor: pointer;  
}

.see_profile_button:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.homecontainer div {
  // display: flex;
  // justify-content: center;
  width: 100% !important;
}
.homecontainer {
  overflow: scroll;
  background: #fffafa;
  // width: 100%;
  @include flex;
  // height: calc(100vh - 332px);
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 61.5vh;
  flex-direction: column;
  
}
.home {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.homecontainer button {
  // margin: auto !important;
  outline: none;
  border: none;
  color: #3c4163;
  border-radius: 5px;
  background: #70aeff;
  margin-bottom: 25px;
  height: 2em;
  width: 75%;
  font-size: 1.5em;
  transition: .7s ease-in-out;
  cursor: pointer;  

}
.homecontainer a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homecontainer button:active {
  transform: scale(1.5);

  .homecontainerButton {
    outline: none;
    border: none;
    color: #3c4163;
    border-radius: 5px;
    background: #70aeff;
    // margin-bottom: 30px;
    height: 50px;
    width: 100% !important;
    font-size: 1.5em;
    cursor: pointer;  
    }
  }

//---------------------------------- Nav css ----------------------------------//

.nav {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: #3c4163;
}
.homebtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 80px;
  cursor: pointer;  
}

.homebtnImg {
  height: 60px;
  width: 55px;
}

.settingsbtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 80px;
  cursor: pointer;  
}

.chatbtnImg {
  // height: 60px;
  padding-top: 10px;
  height: 50px;
  width: 55px;
  // padding-top: 5px;
}

//---------------------------------- Login css ----------------------------------//
.login_background {
  background-image: url("../assets/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.loginContainer {
  @include flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.logo_container {
  @include flex;
  flex-direction: column;
  height: 40%;
  width: 70%;
  margin-top: -60px;
}

.login_title {
  font-family: $title_font;
  color: $dark_blue;
  // color: $light_blue;
  font-size: 3em;
}

.login_logo {
  max-height: 150px;
  height: auto;
  max-width: 150px;
  width: auto;
  margin-top: 70px;
}

// .loginBox {
//   @include flex;
//   border-radius: 8px;
//   height: 60px;
//   width: 80%;
//   // background: gray;
//   position: absolute;
//   bottom: 20px;
//   opacity: .75;
// }

.login_button {
  font-size: 25px;
  color: $snow_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 8px;
  background: gray;
  opacity: 0.75;
  @include flex;
  height: 60px;
  width: 80%;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  cursor: pointer;  
}

.login_button_text {
  font-size: 25px;
  color: $snow_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: none;
}

//---------------------------------- Profile ----------------------------------//
.profile-main {
  height: 100vh;
  overflow: hidden;
}
.profile_container {
  overflow: hidden;
  @include flex(center, center);
  height: calc(100vh - 145px);
  // height: 70vh;
  flex-direction: column;
  background-color: #fffafa;
  color: $dark_blue;
  margin-top: 70px;

}

.profile_container div {
  margin: auto;
}

.profile_image {
  // padding-top: 15px;
  margin-top: 65px;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.profile-cover-photo{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // margin-left: auto;
  // margin-right: auto;
  height: 282px;
}

.profile-upload-div {
  padding: 10px;
  @include flex; 
  position: absolute;
  top: 32%;
  left: 45%; 
  cursor: pointer;  
  z-index: 34;
}
.cover-upload-div {
  padding: 10px;
  @include flex; 
  position: absolute;
  top: 36.25%;
  right: 0px; 
  cursor: pointer;  
  z-index: 34;
}
.profile-upload {
  color: $dark_blue;
  font-size: 2em;
  border-radius: 6px;
  width: 30px !important;
  height: 30px !important;
  background: rgba(141, 170, 212, .4);
  @include flex;  
  // opacity: .6;
  text-align: center;
}


.profile_text_container{
  // height: 80vh;
  overflow: scroll;
  margin: auto;
  width: 75%;
  height: 80%;
}

.profile_text_container div {
  margin: auto;
  display: flex;
}

.profileName {
  display: flex;
  width: 100%;
}

.profile_input {
  @include flex;
  outline: none;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.25em;
  border-radius: 5px;
  background: #bfbbbb17;
}


.profile_display {
  margin: auto;
  height: calc(100vh - 150px);
  font-size: 1.5em;
  h3 {
    font-weight: 450;
    
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 15px;
  }
}
.profile_toggle {
border-radius: 50%;
position: absolute;
height: 30px;
right: 5px;
bottom: 350px;
}
.profile_edit {
  border: none;
  height: 20px;
  font-size: 1em;
  cursor: pointer;  
  position: absolute;
  bottom: 230.5px;
  right: 5px;
  margin: auto;
}

.unfriend {
  background: rgba(173, 104, 104, 0.699);
  width: 25px;
  height: 15px !important;
  border-radius: 5px;
  font-size: .5em;
  position: absolute;
  top: 150px;
}
// .profile-edit:hover {
//   height: 40px;
// }

.profile_disabled {
  display: none;
}

.profile_save {
  border: none;
  border-radius: 6px;
  width: 50px;
  height: 30px;
  background: $light_blue;
  color: $dark_blue;
  font-size: .75em;
  cursor: pointer;  
  margin-top: 10px;
  text-align: center;
}

.profile_save div {
  height: 25px;
}
.profile-h3 h3{
  text-align: center;
}
//---------------------------------- FRIENDS ----------------------------------//
.friendscontainer {
  // width: 96% !important;
  margin-right: 1px;
  margin-left: 1px;
  overflow: scroll;
}
.buds {
  // border: .5px solid #B0E2FF;
  
  box-shadow: 2.5px 1.5px 4px 1.5px #B0E2FF;
}

.skiin {
  // border: .5px solid #FFDAB9 !important;
  box-shadow: 2.5px 1.5px 4px 1.5px #FFDAB9 !important;
}

.lazy {
  // border: .5px solid rgb(43, 52, 58, 0.678);
  box-shadow: 2.5px 1.5px 4px 1.5px rgba(43, 52, 58, 0.678);
}
.friendscontainer div {
  margin: auto;
  margin-bottom: 6px;
  width: 98% !important;
  height: 100% !important;
  color: $dark_blue;
}
.friendsAvatar img {
  margin-left: 4px;
  height: 70px;
  width: 70px !important;
}
.friendsAvatar {
  // border: .5px solid rgba(5, 5, 224, 0.171);
  // border-bottom: .25px solid rgba(5, 5, 224, 0.171);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .5s ease-in-out;
  div {
    display: flex;
    width: 100%;
    // justify-content: center;
    align-items: center;
    height: 83px !important;
    // border: solid gray .5px; 
  }
}
.friendsAvatar div {
  // height: 50px !important;
  width: 100% !important;
  display: flex;
  // justify-content: space-around;
  // margin-left: 10px;
}
// .currentMTNhead section{
//   margin: auto;
// }

.friendmailer img {
  width: 45px !important;
}
.friendsPic {
  margin-right: 15px;
  height: 50px;
  width: 50px !important;
  border-radius: 50%;
}

.friendsAvatar button {
  margin: auto;
  cursor: pointer;
}
.friendsName {
  font-size: 1.25em;
  color: $dark_blue;
  // margin-right: 15px;
}


.friendMessagebtn {
  // font-weight: 500;
  font-size: 0.75em !important;
  width: 80px !important;
  height: 35px !important;
  // background: #70aeff;
  // margin-left: 15px;
  
}

//---------------------------------- Chat css ----------------------------------//

.chat {
  @include flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: $snow_white;
  // font-family: 'Boogaloo', cursive;
  // font-family: 'Arvo', serif;
  font-family: 'Fira Sans', sans-serif;
}
.chatBackground {
  background: $snow_white;  
}

.chatContainer{
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin-top: 120px;
  margin-bottom: 110px;
  @include flex;
  flex-direction: column;
  // justify-content: flex-end;
  position: relative;
}

.userMessagesContainer {
  width: 100%;
  background: $snow_white;
  // justify-content: flex-end;
  // position: relative;
  // bottom: 0px;
  
  
}
.otherMessagesContainer {
  width: 100%;
  background: $snow_white;
  color: $snow_white;
}

////////////////////////
.otherMessages {
  font-size: 1.5em;
  color: $light-blue;
  float: left;
  width: 200px;
  text-align: center;
  border: solid 2px $light_blue;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.otherMessages:active ~ .otherChatName {
  visibility: visible;
}

.otherMessages:active ~ .otherChatTime {
  font-size: .75em;
  transition: 1s ease-in;
  visibility: visible;
}

.otherChatName {
  visibility: hidden;
}

.otherChatTime {
  visibility: hidden;
}

.otherChatName {
  font-size: 1em;
  color: $light-blue;
  float: right;
  width: 100px;
  // margin-right: 10px;
} 

.otherChatTime{
  font-size: .75em;
  color: $light-blue;
  float: right !important;
  width: 100px;
  // margin-right: 10px;
}

  //text
.userMessages {
  font-size: 1.5em;
  color: $dark-blue;
  float: right;
  width: 200px;
  text-align: center;
  border: solid 2px $dark-blue;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.userMessages:active ~ .userChatName {
  visibility: visible;
  transition: 10s ease-in !important;
}

.userMessages:active ~ .userChatTime {
  font-size: .75em;
  visibility: visible;
}
.userChatName {
  visibility: hidden;
}

.userChatTime {
  visibility: hidden;
}
///
.userChatName:active {
  font-size: .75em;
  color: $dark-blue;
  float: left;
  width: 100px;
  // margin-left: 10px;

} 

.userChatTime:active {
  font-size: .75em;
  color: $dark-blue;
  float: left;
  width: 100px;
  // margin-left: 10px;
}




  //text


.inputBtn {
  position: relative;
  bottom: 45px;
  width: 100%;
  @include flex;
  background: #70aeff;
  margin-top: 10px;
  position: fixed;
  bottom: 80px;
}

.chatInput {
  border-radius: 7px;
  width: 100%;
  // position: fixed;
  height: 30px;
  border: solid #70aeff;
  outline: none;
  font-size: 1.3em;
  color: $dark_blue;
}

.chatBtn {
  width: 20%;
  background: #70aeff;
  height: 27px;
  border: none;
  outline: none;
}





.chatTitle {
  // top: 0;
  z-index: 1;
  text-align: center;
  color: $dark-blue;
  width: 100%;
  height: 30px;
  position: fixed;
  font-size: 1.8em;
  padding-top: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
  background: $snow-white;
}


//---------------------------------- notifications css ----------------------------------//
.notificationscontainer {
  display: flex;
  height: 100%;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  height: 100%;
  margin: auto;
}

.notificationscontainer h1 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 10px;
  color: $dark_blue;
}

.notificationscontainer div {
  margin: auto;
}

.small_text {
  color: $dark_blue;
}

.snotificationschat {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

.snotificationschat button {
  margin: auto;
  width: 50px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer;  
}

.snotificationsrequest {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

.accept_deny_buttons {
  // @include flex;
  // background: green;
}

.friend_accept_button {
  width: 20px !important;
}

.snotificationsrequest button {
  margin: auto;
  justify-content: space-around;
  width: 20px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer;  
}



//---------------------------------- chats nav ----------------------------------//

.chatNav {
  height: calc(100% - 160px);
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #3c4163;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border: solid black 1px; 
}

.chatNavTitle {
  font-size: 35px;
  padding: 5px 5px 5px 32px;
  margin-top: 3px;
  display: block;
  transition: 0.3s;
  color: #70aeff;
  text-decoration: none;  
  box-shadow: 0 4px 2px -2px ;
}

.chatNavLink {
  text-decoration: none;  
}

.chatNav button {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: black;
  display: block;
  margin-top: 5px;
  transition: 0.3s;
  cursor: pointer;  
}


// .chatNav button:hover {
//   color: #fffafa;
// }

.mapContainer {
  height: 300px !important;
  width: 70%;
}

.map {
  height: 300px !important;
  width: 70%;
}
.mapstuff{
  overflow: hidden;
  height: calc(100vh - 80px);
  width: 100%;
}

.mapAvatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.userLocation {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  animation-delay: 15s;
  -webkit-animation-name: gps;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 2s; 
}

@-webkit-keyframes gps {
  0% { background-color: rgba(0, 0, 255, 0.342)}
  50% {background-color: lightblue; height: 25px; width: 25px;}
  100% {background-color: rgba(82, 82, 203, 0.678); height: 30px; width: 30px}
}

/*---------- modal -------------*/
.create_room_div {
  height: 40px;
  width: 70px;
  background: red;
  margin-top: 20px;
  margin-bottom: 50px;
}

.create_room_button {
  cursor: pointer;
}

.create_room_modal {
  height: 90%;
  width: 90%;
  background: $snow_white;
  box-shadow: 0px 5px 10px 10px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 5vh;
  left: 5vw;
}

.modal_display_none {
  display: none;
}

.modal_title {
  margin-bottom: 20px;
}

.modal_input {

}

.modal_name_submit_button {
  background: $light_blue;
  color: $dark_blue;
}

.invite_friends_to_room_span {
  margin-top: 10px;
}

.friends_modal_list {
  height: 70%;
  width: 80%;
  margin-top: 10px;
  background: white;
  border: 2px solid $light_blue;
  box-shadow: 0 0 3px 3px gray inset;
  overflow: scroll;  
  padding: 10px;
}

.friends_in_room_span {
  text-align: center;
}

.close_modal_button {
  margin-top: 10px;
}

.add_to_room_button {
  background: $light_blue;
  color: $dark_blue;
}

.add_to_room_button:active ~ .friendsAvatar {
  opacity: .5;
}