// Header css

.header {
    @include flex(space-between);
    background: black;
    color: white;
    width: 100vw;
    height: 70px;
    text-decoration: none;
}

.header a {
    font-size: 1.5em;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.headerimg img{
    width: 70px;
    height: 70px;
}
//Search css

.searchContainer img {
    height: 25px;
    width: 25px;
}

// Home css

.homecontainer {
    width: 414px;
    @include flex;
    height: calc(100vh - 170px);
    flex-direction: column;
}

.homecontainer button {
    margin-bottom: 30px;
    height: 50px;
    width: 75%;
    background: gray;
    font-size: 1.5em;
}

// Nav css

.nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: gray;
}
.homebtn {
    font-size: 1.25em;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

.settingsbtn {
    font-size: 1.25em;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

// Login css
.loginContainer {
    @include flex;
    width: 100%;
    height: 100vh;
    background: lightblue;
}

.loginBox {
    @include flex;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    background: gray;
}

// Profile

.profile_container {
    @include flex;
    flex-direction: column;
    margin-top: 25px;
    background-color: lightgray;
}

.profile_image {
    height: 200px;
    width: 200px;
    background: blue;
    border-radius: 50%;
}

.profile_text_container {
    width: 75%;
}

.profile_input {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    font-size: 35px;
}

.profile_display {
    width: 75%;
    font-size: 35px;

    h3 {
        margin-top: 15px;    
    }
}

.profile_edit {

}

.profile_disabled {
    display: none;
}

.profile_save {

}
<<<<<<< HEAD
=======

.friendsAvatar {

    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // margin-right: 10px;
}
.friendsAvatar img {
    margin-right: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
>>>>>>> dcfb6b13877ece17f57395bf999c10ee2bf015f3
