html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c4163;
  color: white;
  width: 100vw;
  height: 70px;
  text-decoration: none; }

.header a {
  font-size: 1.5em;
  margin-right: 20px;
  color: #70aeff;
  text-decoration: none; }

.headerimg img {
  width: 70px;
  height: 70px; }

.searchContainer img {
  height: 25px;
  width: 25px; }

.homecontainer {
  background: #fffafa;
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
  flex-direction: column; }

.homecontainer button {
  outline: none;
  border: none;
  color: #3c4163;
  border-radius: 5px;
  background: #70aeff;
  margin-bottom: 30px;
  height: 50px;
  width: 75%;
  font-size: 1.5em; }

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #3c4163; }

.homebtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%; }

.settingsbtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%; }

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: lightblue; }

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  background: gray; }

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
  flex-direction: column;
  background-color: #fffafa; }

.profile_container div {
  margin: auto; }

.profile_image {
  padding-top: 15px;
  height: 200px;
  width: 200px;
  border-radius: 50%; }

.profile_text_container {
  height: calc(100vh - 170px);
  margin: auto;
  width: 50%; }

.profile_text_container div {
  margin: auto;
  display: flex; }

.profileName {
  display: flex;
  width: 100%; }

.profile_input {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.25em;
  border-radius: 5px;
  background: #bfbbbb17; }

.profile_display {
  margin: auto;
  height: calc(100vh - 170px);
  font-size: 1.5em; }
  .profile_display h3 {
    margin: auto;
    margin-top: 15px; }

.profile_edit {
  border: none;
  width: 75px;
  height: 30px;
  background: #8daad4; }

.profile_disabled {
  display: none; }

.profile_save {
  border: none;
  width: 75px;
  height: 30px;
  background: #8daad4; }

.friendsAvatar {
  width: 100%;
  display: flex;
  align-items: center; }

.friendsAvatar img {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.friendsName {
  font-size: 1.25em; }

.chatContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background: gray;
  height: calc(100vh - 170px);
  width: 100%; }

.inputBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.chatInput {
  width: 80%;
  height: 20px; }

.chatBtn {
  width: 20%;
  background: red;
  height: 27px; }
