html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  background: #fffafa;
  height: fill; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c4163;
  color: white;
  width: 100vw;
  height: 70px;
  z-index: 10;
  text-decoration: none;
  position: fixed;
  top: 0; }

.header a {
  font-size: 1em;
  margin-right: 20px;
  font-weight: 100;
  color: #70aeff;
  text-decoration: none; }

.headerimg img {
  max-height: 60px;
  height: auto;
  max-width: 75px;
  width: auto;
  margin-left: 10px;
  margin-top: 7px; }

.slope_title {
  font-family: "Courgette", cursive;
  font-size: 1.5em;
  color: #70aeff; }

.searchContainer {
  height: 100%;
  overflow: scroll; }
  .searchContainer .searchBTN {
    display: flex;
    font-size: 0.75em;
    height: 34px;
    width: 50px !important; }
  .searchContainer .searchIcon {
    width: 25px !important;
    height: 25px !important; }
  .searchContainer .usersList {
    margin-top: 15px;
    width: 100%;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    font-size: 1.25em;
    height: 40px !important; }

.usersList button {
  margin: auto;
  font-size: 1.5em !important;
  background: transparent !important;
  border-radius: 50% !important;
  cursor: pointer; }

.searchContainer div {
  height: 25px;
  margin: auto;
  display: flex !important; }

.timerDiv {
  display: flex;
  justify-content: center;
  align-items: center; }

.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px; }

.searchContainer div input {
  margin-left: 22%;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 25px;
  outline: none;
  width: 50%; }

.usersList div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

.searchIMG {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%; }

.home_profile_container {
  overflow: hidden;
  width: 100%;
  height: 18vh;
  background: #fffafa;
  border-bottom: 1.25px solid #3c4163;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%); }

.home_profile_image {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 11px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1; }

.home_profile_name {
  font-size: 1.25em;
  margin-left: 35px;
  color: #3c4163;
  grid-column: 3;
  grid-row: 3; }

.home_profile_mountain {
  font-size: 1.25em;
  margin-left: 45px;
  grid-column: 3;
  grid-row: 4;
  margin-top: 10px;
  color: #3c4163; }

.see_profile_button {
  outline: none;
  border: none;
  color: #70aeff;
  border-radius: 5px;
  background: #3c4163;
  height: 30px;
  width: 60px;
  font-size: .5em;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 155px;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.see_profile_button:hover {
  transform: scale(1.1);
  text-decoration: underline; }

.homecontainer div {
  width: 100% !important; }

.homecontainer {
  overflow: scroll;
  background: #fffafa;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 61.5vh;
  flex-direction: column; }

.home {
  width: 100%;
  height: 100vh;
  position: fixed; }

.homecontainer button {
  outline: none;
  border: none;
  color: #3c4163;
  border-radius: 5px;
  background: #70aeff;
  margin-bottom: 25px;
  height: 2em;
  width: 75%;
  font-size: 1.5em;
  transition: .7s ease-in-out;
  cursor: pointer; }

.homecontainer a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100%; }

.homecontainer button:active {
  transform: scale(1.5); }
  .homecontainer button:active .homecontainerButton {
    outline: none;
    border: none;
    color: #3c4163;
    border-radius: 5px;
    background: #70aeff;
    height: 50px;
    width: 100% !important;
    font-size: 1.5em;
    cursor: pointer; }

.nav {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: #3c4163; }

.homebtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 80px;
  cursor: pointer; }

.homebtnImg {
  height: 60px;
  width: 55px; }

.settingsbtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 80px;
  cursor: pointer; }

.chatbtnImg {
  padding-top: 10px;
  height: 50px;
  width: 55px; }

.login_background {
  background-image: url("../assets/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column; }

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 70%;
  margin-top: -60px; }

.login_title {
  font-family: "Courgette", cursive;
  color: #3c4163;
  font-size: 3em; }

.login_logo {
  max-height: 150px;
  height: auto;
  max-width: 150px;
  width: auto;
  margin-top: 70px; }

.login_button {
  font-size: 25px;
  color: #fffafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 8px;
  background: gray;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 80%;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  cursor: pointer; }

.login_button_text {
  font-size: 25px;
  color: #fffafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: none; }

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  flex-direction: column;
  background-color: #fffafa;
  color: #3c4163;
  margin-top: 70px; }

.profile_container div {
  margin: auto; }

.profile_image {
  margin-top: 65px;
  height: 175px;
  width: 175px;
  border-radius: 50%;
  position: relative;
  z-index: 1; }

.profile-cover-photo {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 282px; }

.profile-upload-div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  left: 80px;
  cursor: pointer; }

.profile-upload {
  padding: 10px;
  width: 10px;
  height: 10px;
  background: #8daad4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6; }

.profile_text_container {
  height: calc(100vh - 150px);
  margin: auto;
  width: 50%; }

.profile_text_container div {
  margin: auto;
  display: flex; }

.profileName {
  display: flex;
  width: 100%; }

.profile_input {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.25em;
  border-radius: 5px;
  background: #bfbbbb17; }

.profile_display {
  margin: auto;
  height: calc(100vh - 150px);
  font-size: 1.5em; }
  .profile_display h3 {
    margin: auto;
    margin-top: 15px; }

.profile_edit {
  border: none;
  width: 2em;
  height: 50px;
  background: #70aeff;
  color: #3c4163;
  font-size: 20px;
  cursor: pointer; }

.profile_disabled {
  display: none; }

.profile_save {
  border: none;
  width: 10em;
  height: 50px;
  background: #70aeff;
  color: #3c4163;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px; }

.profile-h3 h3 {
  text-align: center; }

.friendscontainer {
  margin-right: 1px;
  margin-left: 1px;
  overflow: scroll; }

.buds {
  box-shadow: 2.5px 1.5px 4px 1.5px #B0E2FF; }

.skiin {
  box-shadow: 2.5px 1.5px 4px 1.5px #FFDAB9 !important; }

.lazy {
  box-shadow: 2.5px 1.5px 4px 1.5px rgba(43, 52, 58, 0.678); }

.friendscontainer div {
  margin: auto;
  margin-bottom: 6px;
  width: 98% !important;
  height: 100% !important;
  color: #3c4163; }

.friendsAvatar img {
  margin-left: 4px;
  height: 70px;
  width: 70px !important; }

.friendsAvatar {
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .friendsAvatar div {
    display: flex;
    width: 100%;
    align-items: center;
    height: 83px !important; }

.friendsAvatar div {
  width: 100% !important;
  display: flex; }

.friendmailer img {
  width: 45px !important; }

.friendsPic {
  margin-right: 15px;
  height: 50px;
  width: 50px !important;
  border-radius: 50%; }

.friendsAvatar button {
  margin: auto;
  cursor: pointer; }

.friendsName {
  font-size: 1.25em;
  color: #3c4163; }

.friendMessagebtn {
  font-size: 0.75em !important;
  width: 80px !important;
  height: 35px !important; }

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background: #fffafa;
  font-family: 'Fira Sans', sans-serif; }

.chatBackground {
  background: #fffafa; }

.chatContainer {
  height: 100%;
  width: 100%;
  overflow: scroll;
  margin-top: 120px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }

.userMessagesContainer {
  width: 100%;
  background: #fffafa; }

.otherMessagesContainer {
  width: 100%;
  background: #fffafa;
  color: #fffafa; }

.otherMessages {
  font-size: 1.5em;
  color: #70aeff;
  float: left;
  width: 200px;
  text-align: center;
  border: solid 2px #70aeff;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px; }

.otherMessages:active ~ .otherChatName {
  visibility: visible; }

.otherMessages:active ~ .otherChatTime {
  font-size: .75em;
  transition: 1s ease-in;
  visibility: visible; }

.otherChatName {
  visibility: hidden; }

.otherChatTime {
  visibility: hidden; }

.otherChatName {
  font-size: 1em;
  color: #70aeff;
  float: right;
  width: 100px; }

.otherChatTime {
  font-size: .75em;
  color: #70aeff;
  float: right !important;
  width: 100px; }

.userMessages {
  font-size: 1.5em;
  color: #3c4163;
  float: right;
  width: 200px;
  text-align: center;
  border: solid 2px #3c4163;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px; }

.userMessages:active ~ .userChatName {
  visibility: visible;
  transition: 1s ease-in-out; }

.userMessages:active ~ .userChatTime {
  font-size: .75em;
  visibility: visible; }

.userChatName {
  visibility: hidden; }

.userChatTime {
  visibility: hidden; }

.userChatName:active {
  font-size: .75em;
  color: #3c4163;
  float: left;
  width: 100px; }

.userChatTime:active {
  font-size: .75em;
  color: #3c4163;
  float: left;
  width: 100px; }

.inputBtn {
  position: relative;
  bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70aeff;
  margin-top: 10px;
  position: fixed;
  bottom: 75px; }

.chatInput {
  width: 100%;
  height: 30px;
  border: solid #70aeff;
  outline: none;
  font-size: 1.3em;
  color: #3c4163; }

.chatBtn {
  width: 20%;
  background: #70aeff;
  height: 27px;
  border: none;
  outline: none; }

.chatTitle {
  z-index: 1;
  text-align: center;
  color: #3c4163;
  width: 100%;
  height: 30px;
  position: fixed;
  font-size: 1.8em;
  padding-top: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
  background: #fffafa; }

.notificationscontainer {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  height: 100%;
  margin: auto; }

.notificationscontainer h1 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 10px;
  color: #3c4163; }

.notificationscontainer div {
  margin: auto; }

.small_text {
  color: #3c4163; }

.snotificationschat {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px; }

.snotificationschat button {
  margin: auto;
  width: 50px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer; }

.snotificationsrequest {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px; }

.friend_accept_button {
  width: 20px !important; }

.snotificationsrequest button {
  margin: auto;
  justify-content: space-around;
  width: 20px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer; }

.chatNav {
  height: calc(100% - 160px);
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #3c4163;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border: solid black 1px; }

.chatNavTitle {
  font-size: 35px;
  padding: 5px 5px 5px 32px;
  margin-top: 3px;
  display: block;
  transition: 0.3s;
  color: #70aeff;
  text-decoration: none;
  box-shadow: 0 4px 2px -2px; }

.chatNavLink {
  text-decoration: none; }

.chatNav button {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: black;
  display: block;
  margin-top: 5px;
  transition: 0.3s;
  cursor: pointer; }

.mapContainer {
  height: 300px !important;
  width: 70%; }

.map {
  height: 300px !important;
  width: 70%; }

.mapstuff {
  overflow: hidden;
  height: calc(100vh - 80px);
  width: 100%; }

.mapAvatar {
  border-radius: 50%;
  width: 35px;
  height: 35px; }

.userLocation {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  animation-delay: 15s;
  -webkit-animation-name: gps;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s; }

@-webkit-keyframes gps {
  0% {
    background-color: rgba(0, 0, 255, 0.342); }
  50% {
    background-color: lightblue;
    height: 25px;
    width: 25px; }
  100% {
    background-color: rgba(82, 82, 203, 0.678);
    height: 30px;
    width: 30px; } }

/*---------- modal -------------*/
.create_room_div {
  height: 40px;
  width: 70px;
  background: red;
  margin-top: 20px;
  margin-bottom: 50px; }

.create_room_button {
  cursor: pointer; }

.create_room_modal {
  height: 90%;
  width: 90%;
  background: #fffafa;
  box-shadow: 0px 5px 10px 10px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 5vh;
  left: 5vw; }

.modal_display_none {
  display: none; }

.modal_title {
  margin-bottom: 20px; }

.modal_name_submit_button {
  background: #70aeff;
  color: #3c4163; }

.friends_modal_list {
  height: 70%;
  width: 80%;
  margin-top: 20px;
  background: white;
  border: 2px solid #70aeff;
  box-shadow: 0 0 3px 3px gray inset;
  overflow: scroll;
  padding: 10px; }

.close_modal_button {
  margin-top: 10px; }

.add_to_room_button {
  background: #70aeff;
  color: #3c4163; }
