html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  background: #fffafa;
  background: fill;
  height: fill; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c4163;
  color: white;
  width: 100vw;
  height: 70px;
  text-decoration: none; }

.header a {
  font-size: 1em;
  margin-right: 20px;
  font-weight: 100;
  color: #70aeff;
  text-decoration: none; }

.headerimg img {
  max-height: 60px;
  height: auto;
  max-width: 75px;
  width: auto;
  margin-left: 10px;
  margin-top: 7px; }

.slope_title {
  font-family: "Courgette", cursive;
  font-size: 1.5em;
  color: #70aeff; }

.searchContainer {
  height: 100%;
  overflow: scroll; }
  .searchContainer .searchBTN {
    display: flex;
    font-size: 0.75em;
    height: 34px;
    width: 50px !important; }
  .searchContainer .searchIcon {
    width: 33px !important;
    height: 33px !important; }
  .searchContainer .usersList {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    font-size: 1.25em;
    height: 65px !important; }

.usersList button {
  font-size: 2em !important;
  background: transparent !important;
  border-radius: 50% !important;
  cursor: pointer; }

.searchIcon {
  height: 35px !important;
  width: 35px; }

.searchContainer div {
  height: 25px;
  margin: auto;
  display: flex !important; }

.timerDiv {
  display: flex;
  justify-content: center;
  align-items: center; }

.searchContainer input {
  margin-bottom: 15px !important;
  margin-left: 5px;
  margin-right: 7px;
  font-size: 1em;
  border: 0.5px solid black;
  border-radius: 5px;
  height: 30px;
  outline: none; }

.usersList div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

.searchIMG {
  margin-left: 10px;
  height: 55px;
  width: 55px;
  border-radius: 50%; }

.home_profile_container {
  width: 100%;
  height: 180px;
  background: #fffafa;
  border-bottom: 3px solid #3c4163;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%); }

.home_profile_image {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1; }

.home_profile_name {
  font-size: 1.5em;
  margin-left: 25px;
  color: #3c4163;
  grid-column: 4;
  grid-row: 4; }

.home_profile_mountain {
  font-size: 1.5em;
  margin-left: 25px;
  grid-column: 4;
  grid-row: 5;
  margin-top: 10px;
  color: #3c4163; }

.see_profile_button {
  outline: none;
  border: none;
  color: #70aeff;
  border-radius: 5px;
  background: #3c4163;
  height: 30px;
  width: 60px;
  font-size: 15px;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 205px;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

.see_profile_button:hover {
  transform: scale(1.1);
  text-decoration: underline; }

.homecontainer div {
  width: 100% !important; }

.homecontainer {
  background: #fffafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 332px);
  flex-direction: column; }

.homecontainer button {
  outline: none;
  border: none;
  color: #3c4163;
  border-radius: 5px;
  background: #70aeff;
  margin-bottom: 30px;
  height: 55px;
  width: 75% !important;
  font-size: 1.5em;
  transition: .7s ease-in-out;
  cursor: pointer; }

.homecontainer button:active {
  transform: scale(1.5); }
  .homecontainer button:active .homecontainerButton {
    outline: none;
    border: none;
    color: #3c4163;
    border-radius: 5px;
    background: #70aeff;
    height: 50px;
    width: 100% !important;
    font-size: 1.5em;
    cursor: pointer; }

.nav {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  background: #3c4163; }

.homebtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%;
  cursor: pointer; }

.settingsbtn {
  outline: none;
  background: #3c4163;
  font-size: 1.25em;
  color: #70aeff;
  border: 1px solid black;
  width: 50%;
  height: 100%;
  cursor: pointer; }

.login_background {
  background-image: url("../assets/background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column; }

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 70%;
  margin-top: -60px; }

.login_title {
  font-family: "Courgette", cursive;
  color: #3c4163;
  font-size: 3em; }

.login_logo {
  max-height: 150px;
  height: auto;
  max-width: 150px;
  width: auto;
  margin-top: 70px; }

.login_button {
  font-size: 25px;
  color: #fffafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 8px;
  background: gray;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 80%;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  cursor: pointer; }

.login_button_text {
  font-size: 25px;
  color: #fffafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: none; }

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
  background-color: #fffafa;
  color: #3c4163; }

.profile_container div {
  margin: auto; }

.profile_image {
  margin-top: 40px;
  height: 200px;
  width: 200px;
  border-radius: 50%; }

.profile-upload-div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  left: 80px;
  cursor: pointer; }

.profile-upload {
  padding: 10px;
  width: 10px;
  height: 10px;
  background: #8daad4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6; }

.profile_text_container {
  height: calc(100vh - 150px);
  margin: auto;
  width: 50%; }

.profile_text_container div {
  margin: auto;
  display: flex; }

.profileName {
  display: flex;
  width: 100%; }

.profile_input {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 35px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.25em;
  border-radius: 5px;
  background: #bfbbbb17; }

.profile_display {
  margin: auto;
  height: calc(100vh - 150px);
  font-size: 1.5em; }
  .profile_display h3 {
    margin: auto;
    margin-top: 15px; }

.profile_edit {
  border: none;
  width: 10em;
  height: 50px;
  background: #70aeff;
  color: #3c4163;
  font-size: 20px;
  cursor: pointer; }

.profile_disabled {
  display: none; }

.profile_save {
  border: none;
  width: 10em;
  height: 50px;
  background: #70aeff;
  color: #3c4163;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px; }

.friendscontainer div {
  height: 100% !important;
  color: #3c4163; }

.friendsAvatar {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.friendsAvatar div {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.friendsAvatar img {
  margin-right: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.friendsAvatar button {
  margin: auto;
  cursor: pointer; }

.friendsName {
  font-size: 1.25em;
  color: #3c4163; }

.friendMessagebtn {
  font-weight: 500;
  font-size: 0.75em !important;
  width: 80px !important;
  height: 35px !important; }

.chatContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background: #fffafa;
  height: calc(100vh - 150px);
  width: 100%; }

.inputBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70aeff; }

.chatInput {
  width: 80%;
  height: 20px;
  border: solid #70aeff;
  outline: none; }

.chatBtn {
  width: 20%;
  background: #70aeff;
  height: 27px;
  border: none;
  outline: none; }

.notificationscontainer {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  height: 100%;
  margin: auto; }

.notificationscontainer h1 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 10px;
  color: #3c4163; }

.notificationscontainer div {
  margin: auto; }

.small_text {
  color: #3c4163; }

.snotificationschat {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px; }

.snotificationschat button {
  margin: auto;
  width: 50px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer; }

.snotificationsrequest {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px; }

.snotificationsrequest button {
  margin: auto;
  justify-content: space-around;
  width: 20px;
  font-size: 0.75em;
  height: 30px;
  cursor: pointer; }

.friendscontainer {
  overflow: scroll; }

.chatNav {
  height: calc(100% - 160px);
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #3c4163;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border: solid black 1px; }

.chatNav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #70aeff;
  display: block;
  margin-top: 5px;
  transition: 0.3s;
  cursor: pointer; }

.chatNav button:hover {
  color: #fffafa; }
